[defaults]
inventory           = ~/.ansible_hosts
#https://docs.ansible.com/ansible-core/2.14/reference_appendices/interpreter_discovery.html
interpreter_python  = auto_silent
# Host key checking is enabled by default
host_key_checking   = False

# Paths to search for roles, colon separated (default: ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles)
roles_path = ~/.ansible/roles

remote_user = root

# Default module to use when running ad-hoc commands (default: command)
module_name = shell
